* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
  }

  body{

    width: 1200px;
    margin : auto;
  }

  .logo>img{

    height: 30px;
    /* 너비 높이를 같이 줄 필요는 없다. */
  }
  ul{
    list-style: none; /* 리스트의 스타일 */

  }
.header-nav > ul > li {

    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;

  }

  a{
    color: black;
  }
  .carrot-color{
    color : #ff8a3d;
  }
.left-menu, .right-menu{

  display : flex;
  /* 가로 가운데 정렬 */
  justify-content: center; 
  /* 새로 가운데 정렬 */
  align-items: center;

}

input[type="search"]{

width: 250px;
height: 40px;
font-size: 15px;
background: #f0f0f0;
border : none;
border-radius: 5px;
padding: 5px;
}
.btn{

  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;

}
.btn-light {
border: 1px solid lightgray;
background : white;
}

header{

display: flex;
justify-content: space-around;
background: white;
width:1200px;

}
 .right-menu > div:nth-child(1){

  margin-right: 15px;

 }

 main{

  margin-top: 70px;
  width: 100%;
 }
#article-top h1, #article-bottom h1 {
font-size: 40px;
margin-bottom : 15px;

}

article{
 display: flex;
  align-items: center;
  width: 100%;
}
#article-top{
  background: #fbf7f2;
  padding-left: 30px;
}
#article-bottom{
  background: white;
}

.btn-dark{
  background : rgb(233, 233, 233);

}
#article-bottom p {
  margin-bottom: 30px;
}

footer > div:nth-child(1){

  display : flex;
  justify-content: space-between;
  margin: 20px;
    
}
footer li{

  padding: 15px;


}
footer{

  display: flex;
  justify-content: space-around;
  
}

footer >div:nth-child(2){

  margin: 20px;

}
footer h5{

  padding: 15px 0;

}

