@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@font-face {
    font-family: 'exqt';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/exqt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Bitcount Grid Double", "exqt", system-ui;
}